<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean id="canalConsumer_hongbao1" class="com.scy.canal.client.CanalConsumer" init-method="init" destroy-method="stop" >
		<property name="destination" value="hongbao_1" />
		<property name="zkServers" value="${canal.zkServers}" />
		<property name="processor">
			<!-- 配置数据处理类key为表名,value为处理类 为BaseProcess子类-->
			<map>
				<entry key="goods" value-ref="goodsProcess"></entry>
			</map>
		</property>
	</bean>

	<bean id="canalConsumer_hongbao2" class="com.scy.canal.client.CanalConsumer" init-method="init" destroy-method="stop" >
		<property name="destination" value="hongbao_2" />
		<property name="zkServers" value="${canal.zkServers}" />
		<property name="processor">
			<!-- 配置数据处理类key为表明,value为处理类 为BaseProcess子类-->
			<map>
				<entry key="goods" value-ref="goodsProcess"></entry>
			</map>
		</property>
	</bean>
	<!--goods表处理器-->
	<bean id="goodsProcess" class="com.scy.canal.process.GoodsProcess"></bean>
</beans>
